node_modules/
.project_id
.github_repo
.env
.env.*
deploy/.env
deploy/startos/javascript
deploy/startos/*.s9pk
*.s9pk
artifacts/
attachments/
.vercel/
screenshots/*.png
screenshots/*.jpg
screenshots/*.json
